/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 90%; /* change me to a percentage width, like 80% */
	margin: 0 auto;

}


.header {

	display: inline-block;
	width: 100%;
	
}

.logo {

	float: left;
}

.navigation {

	float: right;
	width: 80%;
}

.sidebar {

	float: left;
}

.main-content {

	display: inline-block;
	width: 100%;
}

.sub-content {

	float: right;
	width: 80%;
}

.sub-content-2 {

	float: right;
	width: 80%;
}

.footer {

	clear: both;
}
